SUPABASE_PROJECT_URL=https://project_reference_id.supabase.co
SUPABASE_API_KEY=abc123
SUPABASE_SERVICE_ACCOUNT_JWT=abc123

FROM_EMAIL_ADDRESS=someone@somewhere.com
REPLY_TO_EMAIL_ADDRESS=someone@somewhere.com
SENDGRID_API_KEY=abc123
#DEBUG_RECIPIENT_EMAIL_ADDRESS=someone@somewhere.com
