SUPABASE_PROJECT_URL=https://project_reference_id.supabase.co
SUPABASE_API_KEY=abc123
SUPABASE_SERVICE_ACCOUNT_JWT=abc123

FROM_EMAIL_ADDRESS=someone@somewhere.com
FROM_NAME="Someone"
MAILGUN_API_KEY=abc123
MAILGUN_DOMAIN_NAME=xyz.somewhere.com
#DEBUG_RECIPIENT_EMAIL_ADDRESS=someone@somewhere.com
