// app global css in SCSS form

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
}
